


input[type=text], select {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



/*starting*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    background-image: url("index_background.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.header {

    padding: 10px;
    text-align: center;
}

.topnav {
     overflow: hidden;
     background-color: #45a049;
     padding: 0.5%;
 }

.column {
    float: left;
    padding: 10px;

}

.column.side {
    width: 30%;
}

.column.middle {
    width: 70%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.card {

    background-color: #dbf8ff;
    padding: 20px;
    margin-top: 20px;

}

img {
    border-radius: 50%;
}

